* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    transition: all .2s;
}

a:hover {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}

nav.container {
    display: grid;
    grid-template-columns: 1fr  7fr;
    padding: 15px;
}

nav ul {
    width: 100;
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

.inicio {
    width: 100%;
    height: 475px;
    background-color: #ddd5ca;
    background-image: url('../imagenes/ruma-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    display: grid;
    place-items: center;
}

article h1 {
    text-align: center;
    font-size: 2em;
    margin: 50px 0;
}

article .productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border-radius: 7px;
    border: solid 2px #ddd5ca;
    transition: all .2s;
    background: #fff;
}

.producto:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
}

.producto .imagen {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0;
}

.producto h2 {
    margin: 10px 0;
    padding: 0 10px;
}

.producto .descripcion {
    padding: 10px;
    border-top: solid 1px #ddd5ca;
}

.producto .precio {
    font-weight: bold;
    margin: 5px 0;
    padding: 0 10px;
}

/*estilo de compra*/

.botonCompra{
    width: 150px;
    height: 45px;
    border: 2px solid  black;
    border-radius: 18px;

}

.single {
    width: 1024px;
    max-width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}

.single p {
    margin: 50px 0;
}

.single img {
    max-width: 500px;
    height: auto;
    border-radius: 7px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
}

.contacto-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
}

.contacto-container h2 {
    margin-bottom: 40px;
}

.contacto-container p {
    margin-bottom: 25px;
}

.contacto-container .form {
    padding-right: 50px;
    border-right: solid 1px #ddd5ca;
}

.contacto-container iframe {
    border-radius: 7px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
}

.formulario__input-error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.05em;
}

footer.container {
    padding: 15px 25px;
    margin-top: 25px;
    border-top: solid 1px #ddd5ca;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer.container i {
    font-size: 1.5em;
    margin: 0 5px;
}

footer.container .copy {
    text-align: right;
}

.carrousel {
    position: relative;
    height: 200px;
    box-sizing: border-box;
    margin: 75px 25px;
    list-style: none;
    border-radius: 7px;
    border: solid 1px #ddd5ca;
    background: #ddd5ca;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
}

.carrousel-item {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    height: 150px;
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    transition: all .4s;
    transform: scale(.7, .7);
}

.carrousel-item.active {
    transform: scale(1, 1);
    opacity: 1;
}

.carrousel-item img {
    height: 150px;
    width: auto;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
}

.carrousel-item h3 {
    font-size: 1.5em;
}

.carrousel-item .mail {
    opacity: .4;
    padding: 7px 0;
    margin-bottom: 7px;
    border-bottom: solid 1px;
    display: block;
}


/*celular productos */

@media screen and (max-width: 800px)
{

.options ul{
    min-width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    }



article .productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    }

nav.container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
    text-align: center;
    gap: 10px;
    }

   /*Clase de API*/

article.espaciado{

    margin-bottom: 120px;

}

.carrousel-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
        
    }


.carrousel-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.carrousel-content p{
    height: 50px;
    }

footer.container {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 10px;
    text-align: center;
    }

.copy p{
    text-align: center;
    }

}

@media screen and (min-width: 800px ){
article .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    }

} 

@media screen and (min-width: 960px ){
article .productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    }

} 